[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = "*"
torch = "*"
pandas = "*"
tabulate = "*"
statsmodels = "*"
ml-collections = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
